
%head
	%title Test Bootstrap
	%link{rel: "stylesheet", type: "text/css", href: "/css/bootstrap.min.css"}
%body
	#content
		.container
			.row
				.col-xs-12.col-sm-4 Colonne 1
				.col-xs-12.col-sm-8 Colonne 2
